.button-default {
    border: none;
    outline: none;
    background-color: transparent;
}

#button-email-svg {
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    fill: #b3b3b3;
}

#button-email-svg:hover {
    fill: black;
}

#button-linkedin-svg {
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    fill: #b3b3b3;
}

#button-linkedin-svg:hover {
    fill: blue;
}

#button-github-svg {
    height: 24px;
    width: 24px;
    background-color: transparent;
    fill: #b3b3b3;
}

#button-github-svg:hover {
    fill: black;
}

#button-http-svg {
    height: 24px;
    width: 24px;
    background-color: transparent;
    fill: #b3b3b3;
}

#button-http-svg:hover {
    fill: blue;
}

#button-display-svg {
    height: 24px;
    width: 24px;
    background-color: transparent;
    fill: #b3b3b3;
}

#button-display-svg:hover {
    fill: #000000;
}