.projectCard-card {
    width: 345px;
    max-width: 345px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projectCard-card-img {
    top: 0;
    height: 194px;
}

.projectCard-card-title {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 0px;
    padding-right: 5px;
    align-items: flex-start;
    font-size: larger;
/*  font-weight: bold;  */
}

.projectCard-card-subtitle {
    padding-top: 0px;
    padding-left: 5px;
    padding-bottom: 0px;
    padding-right: 5px;
    align-items: flex-start;
    font-size: medium;
}

.projectCard-card-text {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 0px;
    padding-right: 5px;
    align-items: flex-start;
    font-size: small;
    height: 225px;
}

.projectCard-card-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    padding-left: 10px;
    bottom: 0px;
    width: 100%;
    height: 40px;
}

.btn {
    border: none;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
}

#my-linkedin-svg {
    height: 24px;
    width: 24px;
    fill: #b3b3b3;
}

#my-linkedin-svg:hover {
    height: 32px;
    width: 32px;
    fill: blue;
}

#my-github-svg {
    height: 24px;
    width: 24px;
    fill: #b3b3b3;
}

#my-github-svg:hover {
    height: 32px;
    width: 32px;
    fill: black;
}